.header {
  background: #a4a39f;
  padding: 10px;
  position: fixed; /* TODO: filter modal on header doesn't work when this is on */
  top: 0;
  left: 0;
  width: 100%;
}

.header-title {
  text-align: left;
  font-size: 27px;
  color: #ffffff;
  font-family: "Trebuchet MS";
}

.header-img {
  max-width: 40px;
  vertical-align: middle;
}

.listing {
  background: wheat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 1000px;
  margin: 1rem 1rem 1rem 0px;
}

.listing-image {
  width: 350px;
  height: 332px;
  cursor: "pointer";
}

.listing-info {
  margin-left: 1rem;
}

.top_of_listing_page {
  display: flex;
  justify-content: space-between;
}
.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 60vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

.main {
  margin-top: 75px;
}
